apiVersion: v1
kind: ConfigMap
metadata:
  name: eureka-server-config
  namespace: microservices-demo
data:
  application.yml: |
    server:
      port: 8761
    spring:
      application:
        name: eureka-server
    eureka:
      client:
        register-with-eureka: false
        fetch-registry: false
      server:
        wait-time-in-ms-when-sync-empty: 0
    management:
      endpoints:
        web:
          exposure:
            include: "*"
      endpoint:
        health:
          show-details: always
