apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: microservices-demo
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
