apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: microservices-demo
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
