apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices-demo
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
